.money-section{
  margin-left: 15px;
  margin-right: 15px;
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: repeat(8,max-content);
}

.money-string{
  display: grid;
  grid-template-columns: max-content max-content;
}

.banknote{
  height: 120px;
  width: auto;
  margin-bottom: 10px;
}

.quantity{
  align-self: center;
  margin: 10px;

  font-size: 20px;
}

.coin-section{
  display: grid;
  grid-template-columns: max-content max-content ;
  grid-template-rows: max-content max-content;
}

.coin{
  height: 80px;
  width: auto;
  margin: 5px;
}

.products-section{
  display: grid;
  grid-template-columns: repeat(2, max-content) ;
  
}

.product{
  width: 100px;
  height: max-content;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px max-content;
  align-items: flex-end;
  justify-items: center;
}

.product-img{
  max-width: 100px;
  max-height: 100px;
  margin: 5px;
}

